<template>
    <div>
        <v-form @keyup.enter="setCredentials()">
        <h2>Set password for {{selectedUser}}</h2>
        
        <v-text-field type="password" :error="pass_errors.length > 0" :error-messages="pass_errors" :change="passMatch()" v-model="selectedUserPass" label="Password"></v-text-field>
        <v-text-field type="password" :error="pass_errors.length > 0" :error-messages="pass_errors" :change="passMatch()" v-model="selectedUserPassConfirm" label="Password Confirm"></v-text-field>
        <v-btn @click="setCredentials()">Set Credentials</v-btn>
        </v-form>
    </div>
</template>

<script>

import api from '@/api'
import utilEvent from '@/util/event'

export default {
    data() {
        return {
            selectedUserPass: undefined,
            selectedUserPassConfirm: undefined,
            pass_errors: [],
        }
    },
    props: {
        selectedUser: String,
        
        // Values for setting the password.
        user: String,
        pass: String,
    },
    mounted() {
    },
    methods: {
        passMatch() {
            // Q - Why is this logic so convoluted?
            // A - It breaks infinite updates to the two components that both use this to find errors.
            if (this.selectedUserPass != this.selectedUserPassConfirm && this.pass_errors.length == 0) {
                this.pass_errors = [ "Passwords do not match."]
            } else if (this.selectedUserPass == this.selectedUserPassConfirm && this.pass_errors.length > 0) {
                this.pass_errors = []
            }
        },
        setCredentials() {
            if (this.pass_errors.length > 0) {
                utilEvent.dispatchAlert(this, "Not storing credentials. Passwords do not match.")
            }
            else if (!this.selectedUserPass || this.selectedUserPass.length == 0) {
                utilEvent.dispatchAlert(this, "Not storing credentials of 0 length.")
            }
            else {
                api.setPassword(
                    {
                        vueComponent: this,
                        user: this.user,
                        pass: this.pass,
                        newpass: this.selectedUserPass,
                        account: this.selectedUser
                    },
                    (err, data) => {
                        if (err) {
                            console.error("Failed to set password.", err)
                        }
                        else {
                            console.info("Set password.", data)
                        }
                    }
                )
            }
        }
    }
}
</script>

<style scoped>

</style>
