<template>
    <div>
    <h2>Create User</h2>
    <v-alert :type="createAlertMessageType" :value="!!createAlertMessage">{{createAlertMessage}}</v-alert>
    <form v-on:keyup.enter="createUser()">
        
        <v-card flat class="d-inline-flex">
            <v-card flat class="pa-1">
                <v-text-field v-model="newUser" label="New User"></v-text-field>
                <v-text-field v-model="newUserName" label="New User Name"></v-text-field>
                <v-checkbox v-model="isAdmin" label="Is Admin" />
            </v-card>

            <v-card flat class="pa-1">
                <v-text-field type="password" :error="pass_errors.length > 0" :error-messages="pass_errors" :change="passMatch()" v-model="newUserPass" label="Password"></v-text-field>
                <v-text-field type="password" :error="pass_errors.length > 0" :error-messages="pass_errors" :change="passMatch()" v-model="newUserPass_confirm" label="Password Confirmation"></v-text-field>
            </v-card>
        </v-card>

        <v-card flat class="d-block">
            <v-btn v-on:click="createUser()">Create User</v-btn>
        </v-card>
    </form>

    </div>
</template>

<script>
import utilEvent from '@/util/event'
import api from '@/api'

export default {
    props: {
        user: String,
        pass: String
    },
    data(){
        return {
            newUser: undefined,
            newUserName: undefined,
            newUserPass: undefined,
            newUserPass_confirm: undefined,
            isAdmin: false,
            props: {},
            pass_errors: [],
            createAlertMessage: undefined,
            createAlertMessageType: 'success',
        }
    },
    methods: {
        passMatch() {
            // Q - Why is this logic so convoluted?
            // A - It breaks infinite updates to the two components that both use this to find errors.
            if (this.newUserPass != this.newUserPass_confirm && this.pass_errors.length == 0) {
                this.pass_errors = [ "Passwords do not match."]
            } else if (this.newUserPass == this.newUserPass_confirm && this.pass_errors.length > 0) {
                this.pass_errors = []
            }
        },
        createUser() {
            var userRecord = {
                name: this.newUserName,
                password: { plain: this.newUserPass },
            }

            if (!this.newUser || this.newUser.length == 0) {
                utilEvent.dispatchAlert(this, "A user name is required.")
                return
            }

            if (!this.newUserName || this.newUserName.length == 0) {
                this.newUserName = this.newUser
                return
            }

            if (this.pass_errors.length > 0) {
                utilEvent.dispatchAlert(this, this.pass_errors[0])
                return
            }

            if (!this.newUserPass || this.newUserPass.length == 0) {
                utilEvent.dispatchAlert(this, "User password must be defined.")
                return
            }

            if (this.isAdmin) {
                var permissions
                if (permissions in userRecord) {
                    permissions = userRecord.permissions
                } else {
                    permissions = userRecord.permissions = {}
                }
                userRecord.permissions.admin = '1'
            }

            api.createUser(
                {
                    vueComponent: this,
                    user: this.user,
                    pass: this.pass,
                    accountName: this.newUser,
                    account: userRecord
                },
                (err, resp) => {
                    if (err) {
                        this.createAlertMessageType = 'error'
                        this.createAlertMessage = `Failed to create user ${this.newUser}: ${err.message}`
                        console.error(err)
                    }
                    else {
                        this.createAlertMessageType = 'Success'
                        this.createAlertMessage = `Created user ${this.newUser}.`
                        console.info(resp)
                    }
                }
            )
        }
    }
}
</script>

<style scoped>

</style>