<template>
    <div>
        <v-text-field v-model="newfilename" label="New file name." v-on:keyup.enter="createNewFile($event)"></v-text-field>

        <a href="#" v-if="parentDir" v-on:click.prevent="setPath(parentDir)" >..</a>

        <dir v-for="row in files" v-bind:key="row[1]">

            <div v-if="row[0].indexOf('f') >= 0" >
                <a :href="`/editor/${path}${row[1]}`">{{path}}{{row[1]}}</a>
                &nbsp;
                <a target="_blank" :href="`/api/${path}${row[1]}`"><img src="/navout.png" width="12"/></a>
            </div>
            
            <div v-if="row[0].indexOf('d') >= 0" >
                <a href="#" v-on:click.prevent="setPath(path + row[1])">{{path}}{{row[1]}}</a>
            </div>

        </dir>
    </div>
</template>

<script>

import api from '@/api'

export default {
    data() {
        return {
            path: '',
            parentDir: undefined,
            files: [],
            user: undefined,
            pass: undefined,
            docpass: undefined,
            newfilename: undefined
        }
    },
    methods: {
        createNewFile(event) {
            var f = event.target.value
            
            f = `/editor/${this.path}${f}`

            console.info("Create file ", f)
            // window.location = f
            this.$router.push(f)
        },
        setPath(p) {
            api.listDir(
                {
                    vueComponent: this,
                    user: this.user,
                    pass: this.pass,
                    path: p
                },
                (err, data) => {
                    if (err) { 
                        console.error(err)
                    } else {
                        this.path = p;
                        this.files = data

                        var arr = this.path.split('/')

                        if (arr.length > 2) {
                            arr.splice(-2, 1)
                            this.parentDir = arr.join('/')
                        }
                        else {
                            this.parentDir = undefined
                        }
                    }
                }
            )
        }
    },
    mounted() {
        var c = this.$store.getters.credentials
        this.user = c.user
        this.pass = c.pass
        this.docpass = c.docpass
        this.setPath(`${this.user}/`)
    }
}
</script>

<style scoped>

</style>