<template>
    <div>
        <v-form @keyup.enter="setCredentials()">
        <v-text-field ref="user" v-model="user" label="Username"></v-text-field>
        <v-text-field type="password" v-model="pass" label="Password"></v-text-field>
        <v-text-field type="password" v-model="docpass" label="Document Password Confirm"></v-text-field>
        <v-btn @click="setCredentials()">Set Credentials</v-btn>
        <v-btn @click="clearCredentials()">Clear Credentials</v-btn>
        </v-form>
    </div>
</template>

<script>

export default {
    data() {
        return {
            user: undefined,
            pass: undefined,
            docpass: undefined,
        }
    },
    props: {
        redirect: String
    },
    mounted() {
        var c = this.$store.getters.credentials
        this.user = c.user
        this.pass = c.pass
        this.docpass = c.docpass
    },
    methods: {
        clearCredentials() {
            this.$store.commit('clearCredentials')
        },
        setCredentials() {
            this.$store.commit('credentials', { user: this.user, pass: this.pass, docpass: this.docpass})
            if (this.redirect) {
                window.location.href = this.redirect
            }
        }
    }
}
</script>

<style scoped>

</style>