<template>
    <div>
        <h2>User {{name}}</h2>
        <pre class="text-left" v-if="account">{{JSON.stringify(account, null, 2)}}</pre>
        <div v-else><i>Loading...</i></div>
    </div>
</template>

<script>
import api from '@/api'

export default {
    props: {
        name: String,
        user: String,
        pass: String
    },
    data() {
        return {
            account: null,
            previous_name: null
        }
    },
    updated() {
        this.readAccount()
    },
    mounted() {
        this.readAccount()
    },
    methods: {
        readAccount() {
            if (this.previous_name != this.name) {
                this.previous_name = this.name
                api.readAccount(
                    {
                        vueComponent: this,
                        user: this.user,
                        pass: this.pass,
                        account: this.name
                    },
                    (err, acct) => {
                        if (err) {
                            console.error(err)
                        }
                        else {
                            this.account = acct
                        }
                    }
                )
            }
        }
    }
}
</script>