<template>
    <div>
        <div v-for="name in users" v-bind:key="name">
            <a href="#" v-on:click.prevent="chooseName(name)">{{name}}</a>
        </div>
    </div>
</template>

<script>
import api from '@/api'

export default {
    props: {
        user: String,
        pass: String,
        userHandler: null
    },
    data() {
        return {
            users: []
        }
    },
    methods: {
        chooseName(name) {
            if (this.userHandler) {
                this.userHandler(name)
            }
        }
    },
    mounted() {
        api.listUsers(
            {
                vueComponent: this, user: this.user, pass: this.pass
            },
            (err, list) => {
                if (err) {
                    console.error(err)
                    return
                }

                this.users = list
            }
        )
    }
}
</script>

<style scoped>

</style>