<template>
    <div>
        <user-list :user="user" :pass="pass" :userHandler="userHandler"></user-list>

        <div v-if="selectedUser">
            <v-card flat class="d-inline-flex">

                <user-summary :user="user" :pass="pass" :name="selectedUser"></user-summary>

                <change-password :user="user" :pass="pass" :selectedUser="selectedUser"></change-password>
            </v-card>
        </div>

        <hr />

        <create-user :user="user" :pass="pass"></create-user>
    </div>
</template>

<script>

import UserList from '@/components/UserList.vue'
import UserSummary from '@/components/UserSummary.vue'
import ChangePassword from '@/components/ChangePassword.vue'
import CreateUser from '@/components/CreateUser.vue'

export default {
    components: {
        UserList,
        UserSummary,
        ChangePassword,
        CreateUser
    },
    methods: {
    
        userHandler(name) {
            this.selectedUser = name
        }
    },
    data() {
        return {
            selectedUser: null,
            user: null,
            pass: null
        }
    },
    created() {
        var creds = this.$store.getters.credentials 
        this.user = creds.user
        this.pass = creds.pass
    }
}
</script>

<style scoped>

</style>