<template>
    <div
        v-on:keydown.ctrl.83.prevent="saveFile($event)"
        v-on:keydown.meta.83.prevent="saveFile($event)"
        >

        File: {{ file }}
        <v-checkbox v-model="encrypt" label="Encrypt" />
        <v-checkbox v-model="isPublic" label="Public" />

        <div id="editor"></div>
    </div>
</template>

<script>

/* eslint-disable no-unused-vars */
const http = require('http')
const constants = require('../constants')
const utilEvent = require('../util/event')
const util = require('util')

const ace = require('ace-builds/src-min-noconflict/ace')

// This needs only be required, not bound to a variable.
require('ace-builds/webpack-resolver')

const api = require('../api')

import jsd from '@/just_some_docs'

export default {
    props: {
        file: String
    },
    data() {
        return {
            editor: undefined,
            encrypt: true,
            isPublic: false,
            props: undefined,
            contents: undefined
        }
    },
    created() {
    },
    methods: {
        saveFile(event) {
            // console.info(event)
            if (this.file) {
                var body = this.editor.session.getValue()
                var creds = this.$store.getters.credentials 

                var propsPromise
                if (this.encrypt) {
                    propsPromise = util.promisify(jsd.encrypt)(creds.docpass, body)
                } else {
                    propsPromise = Promise.resolve({body})
                }

                propsPromise.then(props => {
                    if (this.isPublic) {
                        props['public'] = '1'
                    }

                    api.writeFile({
                            vueComponent: this,
                            user: creds.user,
                            pass: creds.pass,
                            file: this.file,
                            props
                        },
                        (err, data) => {
                            if (err) {
                                console.info("Error: ", err)
                            }
                    })

                })

            }
        },
        loadFile() {
            if (this.file) {
                var creds = this.$store.getters.credentials 
                var user = creds.user
                var pass = creds.pass
                var propsFuture = util.promisify(api.readProps)({
                    vueComponent: this,
                    user, pass, file: this.file
                    })

                propsFuture.then(data => {
                    this.props = data
                    if (this.props.public) {
                        this.isPublic = true
                    }

                    this.encrypt = 'cipher' in this.props

                    return util.promisify(api.readFile)({
                        vueComponent: this,
                        user,
                        pass,
                        file: this.file
                    }).then(data => {
                        if (this.props.cipher) {
                            // Decrypt file.
                            util.promisify(jsd.decrypt)(creds.docpass, this.props.salt, this.props.iv1, this.props.iv2, this.props.key, data).then(data => {
                                this.contents = data
                                this.editor.session.setValue(data)
                            }).catch(e => {
                                console.info("Err", e)
                            })
                        } else {
                            this.contents = data
                            this.editor.session.setValue(data)
                        }
                    })

                }).catch(e => {
                    // console.error("Error fetching file data.", e)
                })

            }
        }
    },
    mounted() {
        
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");
        this.editor = editor

        var creds = this.$store.getters.credentials 
        var user = creds.user
        var pass = creds.pass

        if (this.file) {
            this.loadFile()
        }
    }
}
</script>

<style scoped>
    #editor { 
        position: absolute;
        top: 20em;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>