<template>
  <div class="home">
    <a :href="`/editor/${user}/Notes.txt`">Notes.txt</a>

    <hr />

    <file-browser></file-browser>
  </div>
</template>

<script>

import utilEvent from '@/util/event'
import FileBrowser from '@/components/FileBrowser'

export default {
  name: 'Home',
  components: {
    FileBrowser
  },
  computed: {
    user() {
      var c = this.$store.getters.credentials
      return c.user || ""
    }
  },
  mounted() {
      if (!this.$store.getters.credentials.user) {
        utilEvent.dispatchAuthError(this)
      }
  }
}
</script>
