<template>
    <div>
        Login form view {{redirect}}

        <Login :redirect="redirect"></Login>
    </div>
</template>

<script>

import Login from '@/components/Login.vue'

export default {
    components: {
        Login
    },
    props: {
        redirect: String
    },
    data() {
        return {
            
        }
    }
}
</script>

<style scoped>

</style>