<template>
  <v-app id="app">

    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

    <!-- <v-card float left> -->
    <v-navigation-drawer v-model="drawer" app>
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item>
            <v-list-item-content><router-link to="/">Home</router-link></v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content><router-link to="/about">About</router-link></v-list-item-content>
          </v-list-item>
          <v-list-item v-if="isAdmin">
            <v-list-item-content><router-link to="/admin">Admin</router-link></v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content><router-link to="/login">Login</router-link></v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <!-- </v-card> -->
  
    <v-main>

      <v-alert :type="alertType" dismissible :value="!!alertMessage">{{alertMessage}}</v-alert>
 
      <v-container fluid
        v-on:auth-error.prevent="onAuthError($event)"
        v-on:alert-message.prevent="onAlertMessage($event)"
        >
        <router-view/>
      </v-container>
  
    </v-main>

  </v-app>
</template>

<script>
import api from '@/api'

export default {
  data() {
    return {
      alertMessage: undefined,
      alertType: 'error',
      isAdmin: false,
      account: {},
      drawer: undefined
    }
  },
  mounted() {
    var creds = this.$store.getters.credentials 
    var user = creds.user
    var pass = creds.pass

    api.readAccount({
      account: user,
      user,
      pass
    },
    (err, acct) => {
      if (err) {
        console.error(err)
        this.account = {}
        this.isAdmin = false
      }
      else {
        this.account = acct
        this.isAdmin = 'admin' in (this.account.permissions || {})
      }
    })
  },
  methods: {
    onAuthError() {
      this.$router.push({name: "Login", query: {redirect: window.location.href }})
      this.alertMessage = `Failed to authenticate at ${this.$store.getters.credentials.user}`
    },
    onAlertMessage(event) {
      this.alertMessage = event.message
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
